
<div class="profile-wrapper">
<div class="profile-pic">
<img id="userPic" src={{user.profileURL}}

alt="userPic">
</div>

<div class="user-intro">
  <div class="name">
    <h1>
    {{user.name}}

    </h1>
 
  </div>
  <div class="bio">
<P>

Full-stack MERN developer skilled in building performant web applications. Proficient in ReactJS, Redux, NodeJS, ExpressJS, and MongoDB. Experienced with AWS and Firebase.
</P>
  </div>
  <div class="email">
    <p>{{user.email}}</p>
  </div>
  <div class="num-post">
   <p>
{{postNum}} posts
   </p> 
  </div>
</div>
<div class="image-modal-wrapper">
<div class="image-modal-contain">
  
    <span class="close">&times;</span>
    <img src={{user.profileURL}} alt="profile-picture">
  </div>
</div>

</div>

</div>

<script defer>
let imageModal = document.querySelector(".image-modal-wrapper");
let imageCancleBtn = document.querySelector(".close");
let imageTiggerbtn = document.querySelector("#userPic");

const showImageModal = ()=>{
  imageModal.classList.toggle("show-modal")
}

imageTiggerbtn.addEventListener("click",showImageModal);
imageCancleBtn.addEventListener("click",showImageModal);

imageTiggerbtn.addEventListener("click",showImageModal);

window.addEventListener("click", (e)=>{

  if(e.target.matches(".image-modal-contain")){
    return showImageModal()
  }else
  return
})
</script>