<div class="posts">
    {{#each posts}}
    <div class="post_card">

        <a href="/user?id={{this.uid._id}}">
            <div class="user-info">
                <div class="userPic">
                    <img src="{{this.uid.profileURL}}" />
                </div>
                <div class="user-name">
                    <h4>

                        {{this.uid.name}}

                    </h4>
                    <div class="post_date">

                        <p>

                            {{this.createdAt}}
                        </p>
                    </div>
                </div>
            </div>

        </a>


        <a href="/{{this._id}}">

            <div class="post_title">
                <h3>
                    {{this.title}}
                </h3>
 </div>
                <div class="text-container">
                    {{{this.html}}}
                </div>
           

        </a>


<div class="post-card-footer">

    <form method="get" action="/{{this._id}}">
<button class="btn-2">Read more</button>
    </form>
    
</div>

    </div>
    {{/each}}
</div>