
<div class="posts">
 {{#each posts}}
<div class="post_card">
<div class="user-info">
    <div class="userPic">
    <img  src= "{{this.uid.profileURL}}"/>

    </div>
<div class="user-name">
<h4> 
    <a href="/user?id={{this.uid._id}}">
    
{{this.uid.name}}
</a>

    </h4>
<div class="post_date">
   
   <p>

   {{this.createdAt}}
   </p>
</div>
</div>
    
</div>

    
   
<div class="post_title">

 
 {{this.title}} 
 
</div>
<div class="post-card-footer">
    <form method="get" action="/{{this._id}}">
<button class="btn-2">Read more</button>
    </form>
    

</div>

    </div>
{{/each}} 
</div>
