
<div class="profile-wrapper">
<div class="profile-pic">
<img id="userPic" src={{userInfo.profileURL}}
{{!-- "https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp"  --}}
alt="userPic">
</div>

<div class="user-intro">
  <div class="name">
    <p>{{userInfo.name}}</p>
  </div>
  <div class="email">
    <p>{{userInfo.email}}</p>
  </div>
  <div class="num-post">
   <p>
{{postNum}} posts
   </p> 
  </div>
</div>
<div class="image-modal-wrapper">
<div class="image-modal-contain">
  
    <span class="close">&times;</span>
    <img src={{userInfo.profileURL}} alt="profile-picture">
  </div>
</div>

</div>

</div>

<script defer>
let imageModal = document.querySelector(".image-modal-wrapper");
let imageCancleBtn = document.querySelector(".close");
let imageTiggerbtn = document.querySelector("#userPic");

const showImageModal = ()=>{
  imageModal.classList.toggle("show-modal")
}

imageTiggerbtn.addEventListener("click",showImageModal);
imageCancleBtn.addEventListener("click",showImageModal);

imageTiggerbtn.addEventListener("click",showImageModal);

window.addEventListener("click", (e)=>{

  if(e.target.matches(".image-modal-contain")){
    return showImageModal()
  }else
  return
})
</script>