<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
  

</head>
<body>
    {{>nav}}
  



<div class="posts">
 {{#each posts}}
<div class="post_card">
<div class="user-info">
    <img class="userPic" src= "{{url}}"/>
<h4> <a href="#">
{{this.creator}}
</a>
    </h4>
</div>
<hr>
    
   
<div class="post_date">
   
   <p>

   {{this.createdAt}}
   </p>
</div>
<div class="post_title">

 <h4>

   {{this.title}}
 </h4>
</div>
<footer>
<a  href="/{{this._id}}">Read more</a> 

</footer>
    </div>
{{/each}} 
</div>


 
</body>
</html>