
<div class="singup-box">
  
    
    <div class="messages">
    {{>message}}
       {{!-- <p class="message">{{userExists}} </p>
       <br>
         <p class="message">{{passMatch}}</p>
         <br>
          <p class="message">{{passLength}}</p>  --}}
    </div>

    
<form action="/signup" method="POST">
  <h2>Sign up</h2>
<div class="user-box">
<input type="text" name="name"  value = "{{message.name}}"required>
<label > Name </label>
</div>

<div class="user-box">
<input  type="email" name="email" value="{{message.email}}" required >
<label > Email </label>
</div>

<div class="user-box">
<input type="password" name="password"  required>
<label > Password </label>
</div>

<div class="user-box">
<input  type="password" name="repeatpassword"  required>
<label > Repeat Password </label>
</div>
<button type="submit"> Sign up</button>
 
</form>

</div>