<div class="main-wrapper">


  <div class="single_post_card">
   <div class="user-info">
    <div class="userPic">
    <img  src= "{{post.uid.profileURL}}"/>

    </div>
<div class="user-name">
<h4> 
    <a href="/user?id={{post.uid._id}}">
    
{{post.uid.name}}
</a>

    </h4>
<div class="post_date">
   
   <p>

   {{post.createdAt}}
   </p>
</div>
</div>
    
</div>

    <div>
      <h3 class=" single_post_title">
        {{post.title}}

      </h3>
    </div>





    <div class="single_post_contain">

      {{{post.html}}}

      <div class="share-btn">
      

        <svg class="icons" style="width:24px;height:24px" viewBox="0 0 24 24"  xmlns="http://www.w3.org/2000/svg">
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
          <g id="SVGRepo_iconCarrier">
            <path
              d="M15.4306 7.70172C7.55045 7.99826 3.43929 15.232 2.17021 19.3956C2.07701 19.7014 2.31139 20 2.63107 20C2.82491 20 3.0008 19.8828 3.08334 19.7074C6.04179 13.4211 12.7066 12.3152 15.514 12.5639C15.7583 12.5856 15.9333 12.7956 15.9333 13.0409V15.1247C15.9333 15.5667 16.4648 15.7913 16.7818 15.4833L20.6976 11.6784C20.8723 11.5087 20.8993 11.2378 20.7615 11.037L16.8456 5.32965C16.5677 4.92457 15.9333 5.12126 15.9333 5.61253V7.19231C15.9333 7.46845 15.7065 7.69133 15.4306 7.70172Z"
            fill="currentColor" stroke="#000000" stroke-linecap="round" stroke-linejoin="round"></path>
          </g>
        </svg>



<a target = "_blank" href="https://www.facebook.com/sharer/sharer.php?u= https://www.pblog.online/{{post._id}}"}>
        <svg class="icons" style="width:24px;height:24px" viewBox="0 0 24 24" version="1.1"
          xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="currentColor">
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
          <g id="SVGRepo_iconCarrier">
            <title>facebook [#176]</title>
            <desc>Created with Sketch.</desc>
            <defs> </defs>
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Dribbble-Light-Preview" transform="translate(-385.000000, -7399.000000)" fill="#000000">
                <g id="icons" transform="translate(56.000000, 160.000000)">
                  <path fill="currentColor"
                    d="M335.821282,7259 L335.821282,7250 L338.553693,7250 L339,7246 L335.821282,7246 L335.821282,7244.052 C335.821282,7243.022 335.847593,7242 337.286884,7242 L338.744689,7242 L338.744689,7239.14 C338.744689,7239.097 337.492497,7239 336.225687,7239 C333.580004,7239 331.923407,7240.657 331.923407,7243.7 L331.923407,7246 L329,7246 L329,7250 L331.923407,7250 L331.923407,7259 L335.821282,7259 Z"
                    id="facebook-[#176]"> </path>
                </g>
              </g>
            </g>
          </g>
        </svg>


</a>


<a target = "_blank" 
href="https://www.linkedin.com/shareArticle?mini=true&
url= https://www.pblog.online/{{post._id}} &
title={{post.title}}&summary= {{post.title}} &source=">


        <svg class="icons" style="width:24px;height:24px" viewBox="0 0 24 24" version="1.1"
          xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="currentColor">
          <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
          <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
          <g id="SVGRepo_iconCarrier">
            <title>linkedin [#161]</title>
            <desc>Created with Sketch.</desc>
            <defs> </defs>
            <g id="Page-1" stroke-width="0.0002" fill="none" fill-rule="evenodd">
              <g id="Dribbble-Light-Preview" transform="translate(-180.000000, -7479.000000)" fill="#000000">
                <g id="icons" transform="translate(56.000000, 160.000000)">
                  <path fill="currentColor"
                    d="M144,7339 L140,7339 L140,7332.001 C140,7330.081 139.153,7329.01 137.634,7329.01 C135.981,7329.01 135,7330.126 135,7332.001 L135,7339 L131,7339 L131,7326 L135,7326 L135,7327.462 C135,7327.462 136.255,7325.26 139.083,7325.26 C141.912,7325.26 144,7326.986 144,7330.558 L144,7339 L144,7339 Z M126.442,7323.921 C125.093,7323.921 124,7322.819 124,7321.46 C124,7320.102 125.093,7319 126.442,7319 C127.79,7319 128.883,7320.102 128.883,7321.46 C128.884,7322.819 127.79,7323.921 126.442,7323.921 L126.442,7323.921 Z M124,7339 L129,7339 L129,7326 L124,7326 L124,7339 Z"
                    id="linkedin-[#161]"> </path>
                </g>
              </g>
            </g>
          </g>
        </svg>


</a>


      </div>

    </div>


  </div>
  <h3>Comments</h3>
  
{{#if userStatus.login}}

  {{> -commentInput }}

  {{/if}}
  
{{#if comments}}
{{> displayComment }}
{{else}}
<h5>No comments</h5>
{{/if}}
</div>