{{>nav}}

{{!-- <header>
  <div class="profile">
    <div class="profile-name">

      {{name}}
    </div>

    <div class="links">
      


    <a class="btn-link nav-link" href="/">
      <button class="btn">
HOME
      </button> 
       
       </a>

      <a class="btn-link nav-link" href="/newpost">
      <button class="btn">
New Post
      </button> 
       
       </a>
   
  <a class="btn-link nav-link" href="/reset">
  <button class="btn">
Reset Password
  </button> </a>


<div class="btn-link nav-link">

 <button class="btn tiggerbtn">Log Out </button>
</div>

      <div class="modal">
        <div class="modal-contain">
          <h4> Do you want to logout?</h4>
          <button class="canclebtn btn">Cancle</button>


      <a  href="/logout">
      <button class="btn btn_primary">
Log Out
      </button>  
      
      
       </a>
        </div>
      </div>
     
<div class="btn-link nav-link">

 <button class="btn btn-link tiggerbtn ">Delete Account</button>
</div>

    

      <div class="modal">
        <div class="modal-contain">
          <h4> Do you want to Delete your Account?</h4>
          <button class="canclebtn btn">Cancle</button>


      <a  href="/deleteAccount">
      <button class="btn btn_primary">
Delete Account
      </button>  
      
      
       </a>
        </div>
      </div>
      
      </div>


 <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>

    </div>

  </div>

</header> 


<div class="posts">


 {{#each userPosts}}
<div class="post_card">
<p>

    {{this.creator}}
   </p>
<div class="post_date">
   
   <p>

   {{this.createdAt}}
   </p>
</div>
    <h4>

      {{this.title}} 
    </h4>
    <div class="btn-group">
<form method="get" action="post/{{this._id}}">
<button class="btn" type="submit">Read More</button>
</form>
<button class="tiggerbtn btn">Delete</button>



      <div class="modal">
        <div class="modal-contain">
          <h4> Do you want to Delete your Post?</h4>
          <div class="btn-group">

  <button class="canclebtn btn">Cancle</button>
<form method="post" action="delete/{{this._id}}">
<button class="btn btn_primary" type="submit">Delete</button>
</form>
          </div>
        
        </div>
      </div>



<form action="/edit/{{this._id}}" method="post">

<button class="btn" type="submit"> Edit </button>
</form>


    </div>

    </div>
{{/each}} 

</div> --}}





<div class="posts">
 {{#each posts}}
<div class="post_card">
<div class="user-info">
    <img class="userPic" src= "{{url}}"/>
<h4> <a href="#">
{{this.creator}}
</a>
    </h4>
</div>
<hr>
    
   
<div class="post_date">
   
   <p>

   {{this.createdAt}}
   </p>
</div>
<div class="post_title">

 <h4>

   {{this.title}}
 </h4>
</div>
<footer>
<a  href="/{{this._id}}">Read more</a> 
<form action="/{{this._id}}" method="post">
<button class="btn-fw" type="submit"> Edit </button>
</form>
<button class="tiggerbtn btn-fw">Delete</button>

      <div class="modal-wrapper">
        <div class="modal-contain">
          <h4> Do you want to Delete this post?</h4>
          <div class="btn-group">

  <button class="canclebtn btn-primary">Cancle</button>
<form method="post" action="delete/{{this._id}}">
<button class="btn-secondary" type="submit">Delete</button>
</form>
          </div>
        
        </div>
      </div>
</footer>
    </div>
{{/each}} 
</div>

<script defer>

let modals = document.querySelectorAll(".modal-wrapper");
let tiggerbtn = document.querySelectorAll(".tiggerbtn") ;
let canclebtns = document.querySelectorAll(".canclebtn");




// open modal
tiggerbtn.forEach((btn,i)=>{
tiggerbtn[i].addEventListener("click",()=>{
modals[i].classList.toggle("show-modal");

})

})

//cancle modal when cancle btn is clicked
canclebtns.forEach((btn,i)=>{
  canclebtns[i].addEventListener("click",()=>{
    modals[i].classList.toggle("show-modal");
  })
})




// cancle modal when user clicked outside the box
window.addEventListener("click", (e)=>{

for(const modal of modals){

    if(e.target === modal){
        modal.classList.toggle("show-modal");
    }
}


})








{{!-- const hamburger = document.querySelector(".hamburger");
const navMenu = document.querySelector(".links");

hamburger.addEventListener("click", mobileMenu);

function mobileMenu() {
    hamburger.classList.toggle("active");
    navMenu.classList.toggle("active");
}



const navLink = document.querySelectorAll(".nav-link");

navLink.forEach(n => n.addEventListener("click", closeMenu));

function closeMenu() {
    hamburger.classList.remove("active");
    navMenu.classList.remove("active");

} --}}
</script>