{{>user-profile}}

<div class="main-wrapper">

<div class="posts">
 {{#each posts}}
<div class="post_card">
<div class="user-info">
    <img class="userPic"  src= "{{this.profileURL}}"/>
<h4> <a href="#">
{{this.creator}}
</a>
    </h4>
</div>
<hr>
    
   
<div class="post_date">
   
   <p>

   {{this.createdAt}}
   </p>
</div>
<div class="post_title">
   <h4>
<a  href="/{{this._id}}"> {{this.title}}</a> 
 </h4>
 
</div>
<footer>

<form action="/{{this._id}}" method="post">
<button class="btn" type="submit"> Edit </button>
</form>
<button class="tiggerbtn btn btn-outline">Delete</button>

      <div class="modal-wrapper">
        <div class="modal-contain">
          <h4> Do you want to delete this post?</h4>
          <div class="action-btn">

  <button class="canclebtn btn-primary">Cancle</button>
<form method="post" action="delete/{{this._id}}">
<button class="btn-secondary" type="submit">Delete</button>
</form>
          </div>
        
        </div>
      </div>
</footer>
    </div>
{{/each}} 
</div>

</div>

<script defer>

let modals = document.querySelectorAll(".modal-wrapper");
let tiggerbtn = document.querySelectorAll(".tiggerbtn") ;
let canclebtns = document.querySelectorAll(".canclebtn");




// open modal
tiggerbtn.forEach((btn,i)=>{
tiggerbtn[i].addEventListener("click",()=>{
modals[i].classList.toggle("show-modal");

})

})

//cancle modal when cancle btn is clicked
canclebtns.forEach((btn,i)=>{
  canclebtns[i].addEventListener("click",()=>{
    modals[i].classList.toggle("show-modal");
  })
})




// cancle modal when user clicked outside the box
window.addEventListener("click", (e)=>{

for(const modal of modals){

    if(e.target === modal){
        modal.classList.toggle("show-modal");
    }
}


})








{{!-- const hamburger = document.querySelector(".hamburger");
const navMenu = document.querySelector(".links");

hamburger.addEventListener("click", mobileMenu);

function mobileMenu() {
    hamburger.classList.toggle("active");
    navMenu.classList.toggle("active");
}



const navLink = document.querySelectorAll(".nav-link");

navLink.forEach(n => n.addEventListener("click", closeMenu));

function closeMenu() {
    hamburger.classList.remove("active");
    navMenu.classList.remove("active");

} --}}
</script>